

.cd-main-content {
	position: relative;
	width: 100%;
	height: auto;
	margin: 0 auto;
	top: -150px;
	background-color: #000000;
	z-index: 1;
}

.main-header {
	position: relative;
	width: 50%;
	margin: 0 auto;
	top: 200px;
	text-align: center;
	z-index: 2;
}

.cd-main-content a {
	color: #33414a;
	text-decoration: none;
}

.cd-main-content a:hover {
	color:rgba(204,204,204,0.5);
}

.master-cta {
	position: relative;
	width: 200px;
	height: 50px;
	margin: 0 auto;
	top: -250px;
	text-align: center;
	z-index: 2;
	border: solid 2px #33414a;
}

.master-cta:hover {
	color:rgba(204,204,204,0.5);
	box-shadow: inset 1px 2px 70px 11px #33414A;
	-webkit-box-shadow: inset 1px 2px 70px 11px #33414A;
	-moz-box-shadow: inset 1px 2px 70px 11px #33414A;
	-o-box-shadow: inset 1px 2px 70px 11px #33414A;
}

.master-cta h4 {
	position: relative;
	top: -2px;
}

.copy-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #fbfbfb;
}

.copy-wrapper-1 {
	position: relative;
	width: 100%;
	height: 300px;
	background-color: #93bddc;
	border-top: solid 1px #15a387;
}

.copy-wrapper-2 {
	position: relative;
	width: 100%;
	height: 200px;
	background-color: #455866;
	border-top: solid 1px #fbfbfb;
	border-bottom: solid 1px #33414a;
}

.social-media {
	position: relative;
	top: 35%;
	width: 170px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
}

.social-icons {
	position: relative;
	width: 50px;
	height: 50px;
	display: inline-table;
	vertical-align: top;
}

.social-icons:hover {
	opacity: 0.5;
}

footer {
	position: relative;
	width: 90%;
	margin: 0 auto 50px auto;
	padding-top: 10px;
	/*border-top: solid 1px #33414a;*/
}

.footer-logo {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
}

.copyright p {
	position: relative;
	width: 100%;
	top: -10px;
	text-align: center;
	font-size: 11px;
	color: #999999;
}

.cd-main-nav-wrapper {
	position: relative;
	top: -16px;
}

@media only screen and (max-width: 1200px) {
	.main-header {
		top: 170px;
	}

	.master-cta {
		top: -200px;
	}
}

/*Mobile Layouts*/

@media only screen and (min-width: 1210px) {
	.cd-main-content {
		height: 926px;
		top: -150px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 500px;
		max-width: 600px;
		top: 195px;
	}

	.master-cta {
		top: -230px;
	}
}

@media only screen and (max-width: 1210px) and (min-width: 1060px) {
	.cd-main-content {
		height: 926px;
		top: -150px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 500px;
		max-width: 600px;
		margin-top: 100px;
		top: 140px;
	}

	.master-cta {
		top: -220px;
	}
}

@media only screen and (max-width: 1060px) and (min-width: 900px) {
	.cd-main-content {
		height: 926px;
		top: -150px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 500px;
		max-width: 600px;
		margin-top: 150px;
		top: 90px;
	}

	.master-cta {
		top: -150px;
	}
}

@media only screen and (max-width: 900px) and (min-width: 730px) {
	.cd-main-content {
		height: 876px;
		top: -100px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 500px;
		max-width: 500px;
		margin-top: 100px;
		top: 80px;
	}

	.master-cta {
		top: 40px;
	}
}

@media only screen and (max-width: 730px) and (min-width: 420px) {
	.cd-main-content {
		height: 851px;
		top: -100px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 400px;
		max-width: 500px;
		margin-top: 170px;
		top: 10px;
	}

	.main-header h1 {
		font-size: 28px;
	}

	.main-header h3 {
		font-size: 20px;
	}

	.master-cta {
		top: 70px;
	}
}

@media only screen and (max-width: 420px) {
	.cd-main-content {
		height: 740px;
		top: -100px;
		padding-bottom: 100px;
	}

	.main-header {
		width: 350px;
		max-width: 400px;
		margin-top: 170px;
		top: 10px;
	}

	.main-header h1 {
		font-size: 28px;
	}

	.main-header h3 {
		font-size: 20px;
	}

	.master-cta {
		top: 70px;
	}
}







